name: Test Check

on:
    pull_request:
        branches:
            - main
        types:
            - opened
            - synchronize

jobs:
    run-linters:
        name: Run linters
        runs-on: ubuntu-latest

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.12"
            
            - name: Install uv
              uses: astral-sh/setup-uv@v6

            - name: Generate token from GitHub App
              id: app-token
              uses: actions/create-github-app-token@v2
              with:
                app-id: ${{ secrets.APP_ID }}
                private-key: ${{ secrets.APP_PRIVATE_KEY }}
                owner: "Fourteen-IP"
            
            - name: Configure Git for private dependencies
              run: git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"
            
            - name: Setup dependencies
              run: uv sync

            - name: Run tests with coverage
              run: |
                uv run pytest